<style>
  .know-void {
    display: none;
  }

  /*------------------ Modal -----------------*/

  .modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);

  }

  /* Modal Content */

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    display: none;
    border: 1px solid #888;
    width: 42%;
    border-radius: 10px;
  }

  .modal-header {
    padding: 9px 15px;
    border-bottom: 1px solid #ddd;
  }

  .modal-body {

    height: 10%;
    overflow-y: initial;
    padding: 15px;

  }

  .modal .modal-footer {
    padding: 13px 15px 14px;
    margin-bottom: 0;
    text-align: right;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    -webkit-border-radius: 0 0 6px 6px;
    -moz-border-radius: 0 0 6px 6px;
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: inset 0 1px 0 #ffffff;
    -moz-box-shadow: inset 0 1px 0 #ffffff;
    box-shadow: inset 0 1px 0 #ffffff;

  }

  /* The Close Button */

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    margin-top: -5px;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .modal #checkboxAgreedment {
    display: block;
    float: left;
    margin-right: 10px;
    border: 1px solid #999999;
    box-shadow: inset 0px 2px 3px 0px #E2E2E2;
    width: 20px;
    height: 20px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    vertical-align: middle;
  }

  .modal .orange {
    font-size: 15px;
  }

  .modal h4 {
    text-align: left;

    color: inherit;
    text-rendering: optimizelegibility;
    font-size: 17px;

  }

  .modal p {
    padding-right: 35px;
    text-align: justify;
    font-size: 13px;
    font-weight: normal;
    line-height: 20px;
    padding-left: 32px;
  }

  .modal a {
    color: #3377BB;
    text-decoration: none;
  }

  .orange.disabled {
    cursor: not-allowed;
    background-color: #efbe93 !important;
    border: 1px solid #efbe93 !important;
  }

  .orange.disabled:hover {
    background: #efbe93!important;
  }

  .checkradio label.disabled {
    cursor: not-allowed;
  }

  .checkbox label.disabled #checkboxAgreedment {
    border-color: #ddd !important;
  }

  .checkradio.checkbox label.checked span {
    background: url(images/check_cehckboxes.png) no-repeat center center #fff;
  }

  .checkradio label.disabled.checked span {
    background: url(images/check_checkboxes_disabled.png) no-repeat center center #fff;

  }

  @media all and (min-width: 0px) and (max-width: 860px) {

    .modal-content {
      width: 85%;
    }

  }

  /*---------- END MODAl --------------*/

  /*---------- Tooltip Testing -------*/

  .tooltip {
    position: relative;
    display: inline-block;

  }

  .tooltip .tooltiptext {
    border: 1px solid #87B1DC;
    visibility: hidden;
    width: max-content;
    max-width: 200px;
    background-color: #FFFFFF;
    color: #87B1DC;
    text-align: center;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    padding: 4px 14px;
    position: absolute;
    z-index: 1;
    font-size: 11px;
    bottom: 125%;
    left: 50%;
    /*margin-left: -60px;*/
    margin-left: -115px;
    opacity: 0;
    transition: opacity 0.3s;
  }

  .tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #87B1DC transparent transparent transparent;

  }

  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }
</style>


<!-- The Modal -->
<div id="modal-agreed" class="modal">

  <!-- Modal content -->
  <div class="modal-content">

    <div class="modal-header">
      <span class="close">&times;</span>
      <h4>COMUNICAÇÃO E PRIVACIDADE</h4>
    </div>
    <div class="modal-body">
      <div>
        <div class="checkradio checkbox bold pull-left" data-type="checkbox">
          <!-- USER IS NOT OBLIGATED TO READ THE PDF DOCUMENT-->
          <label style="padding-left:0;" >
            <span id="checkboxAgreedment" data-toggle="tooltip" class="tooltip" data-placement="top">
              <input type="checkbox" value="1" class="know-void" readonly="readonly">
              <!--<span class="tooltiptext">Para selecionar deverá aceder às Informações sobre o Tratamento de Dados Pessoais</span>-->
            </span>
            <p>Declaro que li e tomei conhecimento das
              <a target="_blank" class="link-req" href="https://www.bancobest.pt/ptg/bestsite/best_docs/Informacoes_Tratamento_Dados_Pessoais.pdf">Informações sobre o Tratamento de Dados Pessoais</a> do Banco Best e autorizo o tratamento dos meus dados pessoais
              pelo Banco Best, neste âmbito e em futuras ações de marketing que venham a ocorrer no futuro e que o Banco
              Best considere relevantes para mim.</p>
          </label>
        </div>
      </div>

    </div>
    <div class="modal-footer">
      <div class="tooltip">
        <button type="button" data-toggle="tooltip" data-placement="bottom" class="btn-read button orange small disabled tooltip">Submeter </button>
        <span class="tooltiptext">Para submeter deverá declarar que leu e tomou conhecimento das Informações sobre o Tratamento de Dados Pessoais</span>
      </div>
    </div>
  </div>
</div>

</div>
<script src="js/utils/jquery.checkradio.js"></script>
<script>

  // When the user clicks on <span> (x), close the modal
  $('.close').on('click', function () {
    $('#modal-agreed .modal-content').fadeOut();
    $('#modal-agreed').hide();
  })

  $('.link-req').on("click", function (e) {
    //$('.checkradio label').removeClass('disabled');
    $('#checkboxAgreedment .tooltiptext').hide();
  })


  $('#modal-agreed .checkradio :checkbox').change(function (e) {
    if ($('.checkradio label').hasClass("checked")) {
      $('.btn-read').parent().find('.tooltiptext').hide()
      $('.btn-read').removeClass("disabled");

      //$(".btn-read").tooltip("destroy");
    } else {
      $('.btn-read').parent().find('.tooltiptext').show()
      $('.btn-read').addClass("disabled");

      //$(".btn-read").tooltip();
    }
  })

</script>