body {
    background-color: #efefef;
    font-family: 'Roboto', sans-serif;
}

.blue {
    color: #1d19ff;
    font-weight: 900;
    text-transform: uppercase;
}

.link {
    color: #1d19ff;
    text-decoration: underline;
}

.dark-blue {
    color: #001489;
}

.bold {
    font-weight: 700;
}

.owl-carousel {
    display: block!important;
}

.owl-carousel .owl-dots {
	display: inline-block;
    text-align: center;
    position: absolute;
    bottom: -80px;
    left: 0;
    right: 0;
}

.owl-carousel .owl-dot {
    display: inline-block;
    zoom: 1;
    cursor: pointer;
    vertical-align: middle;
}

.owl-carousel .owl-dot span {
    width: 11px;
    height: 6px;
    border-radius: 8px;
    margin: 20px 5px 15px;
    display: block;
    background-color: #FFF;
    opacity: .2;
    transition: width 0.2s ease;
}

.owl-carousel .owl-dot.active span {
    width: 25px;
    opacity: 1;
}

.btn-mobile {
    display: none;
}

.overlay {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    z-index: 99;
}

.close-box {
    display: none;
}

.error {
    display: none;
    color: #e64a39;
    font-size: 13px;
    padding-left: 15px;
    margin: 0;
}


/* HEADER */
.header-mobile {
    display: none;
}
.header-note {
    text-align: right;
    color: #7f89c4;
    font-size: 16px;
    font-weight: 300;
    margin: 0;
    padding: 20px 0 0;
}

.header-content {
    margin-top: 20px;
}

.header-block {
    background: url('../img/header-bg.jpg') no-repeat top right;
    min-height: 500px;
    background-size: cover;
    -webkit-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
}

.header-block-step2 {
    min-height: 500px;
    background-size: cover;
    -webkit-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 10px 17px 0px rgba(0,0,0,0.2);
    margin-top: 15px;
}

.header-block-left {
    position: relative;
    float: left;
    width: 60%;
    color: #FFF;
    padding: 40px;
    height: 100%;
    min-height: 500px;
}


/* .blue-gradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    min-height: 100%;
    height: 100%;
    background: rgba(0,21,137,1);
    background: -moz-linear-gradient(left, rgba(0,21,137,1) 0%, rgba(0,21,137,1) 32%, rgba(0,21,137,0) 100%);
    background: -webkit-gradient(left top, right top, color-stop(0%, rgba(0,21,137,1)), color-stop(32%, rgba(0,21,137,1)), color-stop(100%, rgba(0,21,137,0)));
    background: -webkit-linear-gradient(left, rgba(0,21,137,1) 0%, rgba(0,21,137,1) 32%, rgba(0,21,137,0) 100%);
    background: -o-linear-gradient(left, rgba(0,21,137,1) 0%, rgba(0,21,137,1) 32%, rgba(0,21,137,0) 100%);
    background: -ms-linear-gradient(left, rgba(0,21,137,1) 0%, rgba(0,21,137,1) 32%, rgba(0,21,137,0) 100%);
    background: linear-gradient(to right, rgba(0,21,137,1) 0%, rgba(0,21,137,1) 32%, rgba(0,21,137,0) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#001589', endColorstr='#001589', GradientType=1 );
} */

.txt-block {
    position: relative;
}

.txt-block ul {
    padding-left: 0; 
}

.txt-block ul li {
    font-size: 20px;
    font-weight: 400;
    list-style: none;
    padding: 3px 0;
}

.header-block-right {
    float: right;
    width: 40%;
    min-height: 500px;
    background-color: #FFF;
    padding: 35px;
}

.header-block-right-step2 {
    float: right;
    width: 100%;
    min-height: 500px;
    background-color: #FFF;
    padding: 35px;
}

.pre-title {
    font-size: 14px;
    font-weight: 300;
    text-transform: uppercase;
    background-color: #1d19ff;
    padding: 5px 10px;
    display: inline-block;
    margin-top: 40px;
}

h1 {
    margin-top: 0;
    font-weight: 700;
    font-size: 40px;
    width: 65%;
}

#obrigado h1 {
    margin-top: 100px;
}

.percentage {
    display: inline-block;
    font-weight: 900;
    font-size: 112px;
    line-height: 1em;
}

.percentage span {
    font-size: 70px!important;
}

.tax {
    display: inline-block;
    font-size: 40px;
    line-height: 1em;
    font-weight: 900;
    margin-left: 25px;
}

.header-block-right h2 {
    color: #001489;
    font-size: 30px;
    font-weight: 900;
    margin: 0;
}

.header-block-right .subtitle {
    color: #7f89c4;
}

.form-group {
    margin-bottom: 5px;
}

.form-field {
    width: 100%;
    background: #f0f1f8;
    border: none;
    padding: 13px;
    color: #001489;
    font-weight: 400;
    font-size: 14px;
    border-radius: 2px;
}

.form-field::placeholder {
    color: #001489;
    opacity: 0.6;
    font-weight: 400;
    font-size: 14px;
}

.form-field:focus {
    outline:none;
}

.form-block label {
    color: #001489;
    font-size: 14px;
    font-weight: 700;
}

/* Custom Checkbox */
.container-checkbox {
    display: block;
    position: relative;
    padding-left: 35px;
    margin-bottom: 0;
    cursor: pointer;
    font-size: 12px!important;
    font-weight: 300!important;
    color: #7f89c4!important;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    min-height: 75px;
  }

  .container-checkbox a {
      color: #1d19ff;
      text-decoration: underline;
  }

  .container-checkbox p {
    padding-left: 0;
    padding-top: 3px;
  }
  
  .container-checkbox input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }
  
  .checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #f0f1f8;
    border-radius: 2px;    
  }

  .hasError .checkmark {
    border: 1px solid #ff7f50;
  }
  
  .container-checkbox:hover input ~ .checkmark {
    background-color: #f0f1f8;
  }
  
  .container-checkbox input:checked ~ .checkmark {
    background-color: #f0f1f8;
  }
  
  .checkmark:after {
    content: "";
    position: absolute;
    display: none;
  }
  
  .container-checkbox input:checked ~ .checkmark:after {
    display: block;
  }
  
  .container-checkbox .checkmark:after {
    left: 6px;
    top: 2px;
    width: 7px;
    height: 12px;
    border: solid #001489;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .btn-block {
      text-align: center;
  }

  .btn-orange, .btn-cta {
    font-weight: 700;
    font-size: 15px;
    color: #FFF;
    background-color: #ff7f50;
    max-width: 240px;
    width: 100%;
    padding: 15px;
    display: inline-block;
    text-align: center;
    border-radius: 4px;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 12px 17px 0px rgba(255,127,80,0.3);
    -moz-box-shadow: 0px 12px 17px 0px rgba(255,127,80,0.3);
    box-shadow: 0px 12px 17px 0px rgba(255,127,80,0.3);
  }


  .btn-orange:focus, .btn-orange:hover, .btn-cta:focus, .btn-cta:hover {
    text-decoration: none;
    color: #FFF;
  }


/* JUROS */
.juros {
    text-align: center;
    margin-top: 70px;
}

.juros h2 {
    color: #001389;
    font-weight: 900;
    font-size: 42px;
}

.juros .subtitle {
    color: #001489;
    font-size: 20px;
    font-weight: 300;
    width: 60%;
    margin: 20px auto 0;
}

.juros .footer-note {
    margin-top: 30px;
}

.juros .footer-note p {
    color: #7f89c4;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}
.juros .footer-note a {
    color: #1d19ff;
    text-decoration: underline;
}

.vantagens {
    background-color: #FFF;
    padding: 40px;
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
}

.vantagens-block {
    margin-bottom: 30px;
}

.vantagens h3 {
    margin-top: 0;
    margin-bottom: 35px;
    color: #001489;
    font-size: 34px;
    font-weight: 900;
}

.vantagens-txt-block {
    display: inline-block;
    width: 22%;
    margin: 0 10px;
    text-align: left;
    vertical-align: top;
    color: #7f89c4;
    font-size: 16px;
    font-weight: 300;
}

.vantagens .btn-block {
    text-align: center;
}


/* PORQUE */
.porque {
    background: url(../img/porque-bg.jpg) no-repeat top center;
    height: 465px;
    background-size: cover;
    margin-top: -60px;
    padding-top: 100px;
    color: #FFF;
}

.porque h3 {
    color: #FFF;
    font-size: 34px;
    font-weight: 900;
    text-align: center;
    margin-bottom: 40px;
}

.porque-txt {
    margin: 0 auto;
}

.porque-txt h4 {
    font-size: 16px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.porque-txt p {
    font-weight: 300;
    font-size: 16px;
    text-align: center;
}

.porque .btn-block {
    text-align: center;
    margin-top: 30px;
}

/* FAQS */
.faqs {
    padding-top: 80px;
}

#obrigado .faqs {
    padding-top: 40px;
}

.faqs h3 {
    margin-top: 0;
    color: #001489;
    font-weight: 900;
    font-size: 35px;
    text-align: center;
}

.faqs-content {
    background-color: #FFF;
    padding: 20px 40px;
    margin-top: 40px;
    -webkit-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    box-shadow: 0px 0px 17px 0px rgba(0,0,0,0.2);
    border-radius: 7px;
}

.question {
    cursor: pointer;
    background: url('../img/icon-more.png') no-repeat 98% center;
    color: #1d19ff;
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
    border-bottom: 1px solid #7f89c4;
    padding: 20px 0;
    margin-bottom: 0;
    transition: 0.2s ease;
}

.question.open {
    background: url('../img/icon-minus.png') no-repeat 98% center;
}

.faq-line:last-child .question {
    border-bottom: none;
}

.faq-line:last-child .answer {
    border-top: 1px solid #7f89c4;
    border-bottom: none;
}

.answer {
    display: none;
    color: #7f89c4;
    font-weight: 300;
    font-size: 16px;
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid #7f89c4;
    margin-bottom: 0;
}

.faqs .btn-block {
    margin: 50px 0;
    text-align: center;
}

.disclaimer {
    color: #7f89c4;
    font-size: 16px;
    font-weight: 300;
    text-align: center;
}

#obrigado .disclaimer {
    font-size: 14px;
    width: 80%;
    margin: 30px auto 0;
}


/* FOOTER */
.footer-content {
    margin-top: 20px;
    padding: 30px 0;
    border-top: 2px solid rgba(0,20,137,0.5);
}
.logo-footer {
    max-width: 85px;
    display: inline-block;
}

.footer-content-left p {
    display: inline-block;
    color: #7f89c4;
    font-size: 12px;
    font-weight: 400;
    margin-left: 20px;
    margin-bottom: 0;
    vertical-align: middle;
}

.footer-content-right {
    text-align: right;
}

.footer-content-right p {
    display: inline-block;
    vertical-align: middle;
    color: #828282;
    font-size: 13px;
    font-weight: 300;
    text-transform: uppercase;
    margin-left: 5px;
    margin-bottom: 0;
}

.number {
    font-weight: 900!important;
    color: #001389!important;
    font-size: 17px!important;
}

/* OBRIGADO */
#obrigado .header-block {
    height: 480px;
    min-height: 480px;
}

#obrigado .header-block-step2 {
    height: 580px;
    min-height: 480px;
}

#obrigado .header-block-left {
    min-height: 480px;
}

#obrigado .header-block-right {
    height: auto;
    min-height: 480px;
}

#obrigado .header-block-right h2 {
    color: #001389;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

#obrigado .header-block-right-step2 {
    height: auto;
    min-height: 480px;
}

#obrigado .header-block-right-step2 h2 {
    color: #001389;
    font-weight: 900;
    font-size: 36px;
    text-align: center;
    width: 100%;
    margin-top: 20px;
}

.conta {
    padding: 50px 0;
}

.conta-content h2 {
    color: #001389;
    font-weight: 900;
    font-size: 42px;
    text-align: center;
}

.conta-content p.subtitle {
    font-size: 20px;
    font-weight: 300;
    color: #001489;
    width: 70%;
    margin: 20px auto 40px;
    text-align: center;
}

.circle {
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 4px solid #7f89c4;
    color: #7f89c4;
    font-size: 17px;
    font-weight: 900;
    text-align: center;
    line-height: 1.3em;
}

.conta-txt {
    text-align: center;
    width: 75%;
    margin: 0 auto;
}

.conta-txt p {
    color: #001489;
    font-size: 16px;
    font-weight: 300;
    margin-top: 20px;
}

.footer-note {
    color: #001489;
    font-size: 18px;
    font-weight: 300;
    text-align: center;
    margin-top: 40px;
}

.conta .btn-block {
    text-align: center;
    margin-top: 35px;
}

#obrigado .header-block-right {
    text-align: center;
}

#obrigado .header-block-right-step2 {
    text-align: center;
}

#obrigado .subtitle {
    color: #001489;
    font-size: 22px;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 0;
}

#obrigado .txt {
    color: #7f89c4;
    font-size: 20px;
    font-weight: 300;
    margin-top: 15px;
}

.icon-obrigado {
    margin-top: 0;
}

#obrigado .header-block-right .btn-block {
    text-align: center;
    margin-top: 25px;
}


/* MEDIA QUERIES */
@media screen and (max-width: 1199px) {
    .header-block {
        background: url(../img/header-bg.jpg) no-repeat 75% top;
        height: 650px; 
        background-size: cover;
    }

    .header-block-right {
        height: 650px;
    }

    #obrigado .header-block-right {
        width: 50%;
    }

    #obrigado .header-block-left {
        width: 50%;
    }

    #obrigado .header-block {
        background-position: -200px top;
    }

    #obrigado h1 {
        width: 100%;
    }
        
}

@media screen and (max-width: 990px) {
    /* .header-note.desktop {
        display: none;
    } */

    /* .header-mobile {
        padding-top: 12px;
        display: block;
        text-align: right;
    } */

    .header-mobile .number-block {
        display: inline-block;
        margin: 0;
        vertical-align: top;
    }

    .header-mobile .number-block p {
        margin: 0;
        line-height: 1.1em;
        text-align: left;
    }
    .header-block-right {
        display: none;
    }

    .header-block-left {
        float: none;
        width: 100%;
    }

    .header-block {
        background-position: 30% top;
    }

    .blue-gradient {
        width: 100%;
    }

    .pre-title {
        margin-top: 0px;
    }

    .header-block {
        height: auto;
    }

    .juros .subtitle {
        width: 80%;
    }

    .juros {
        margin-top: 40px;
    }

    .vantagens-txt-block {
        display: block;
        width: 100%;
    }

    .btn-orange {
        display: none;
    }

    .porque-txt {
        width: 60%;
        margin: 0 auto;
    }

    .faqs {
        padding-top: 60px;
    }

    .faqs-content {
        margin-top: 20px;
    }

    .btn-mobile {
        display: block;
        position: fixed;
        bottom: 0;
        width: 100%;
        background: #ff7f50;
        z-index: 9;
        color: #FFF;
        -webkit-box-shadow: 0px -5px 17px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px -5px 17px 0px rgba(0,0,0,0.2);
        box-shadow: 0px -5px 17px 0px rgba(0,0,0,0.2);
    }

    .btn-mobile a {
        color: #FFF;
        text-align: center;
        display: block;
        padding: 20px;
        text-transform: uppercase;
        font-weight: 700;

    }

    .btn-mobile a:hover, .btn-mobile a:focus {
        text-decoration: none;
    }

    footer {
        padding-bottom: 70px;
    }

    .header-block-right {
        position: fixed;
        top: 5%;
        width: 100%;
        z-index: 99;
        overflow-y: scroll;
        left: 0;
        right: 0;
        margin: auto;
        max-width: 430px;
        padding-bottom: 80px;
        min-height: 680px;
    }


    .form-block .btn-block {
        text-align: center;
        margin-top: 20px;
    }

    .close-box {
        display: block;
        text-align: right;
    }

    #obrigado .header-block {
        height: auto;
        min-height: auto;
    }

    #obrigado .header-block-left {
        display: none;
    }

    #obrigado .header-block-right {
        display: block;
        position: relative;
        width: 100%;
        max-width: 100%;
        min-height: auto;
        height: auto;
        padding-bottom: 50px;
    }

    .icon-obrigado {
        margin-top: 0px;
    }

    #obrigado footer {
        padding-bottom: 0px;
    }

    #obrigado .txt {
        margin: 0;
    }
}

@media screen and (max-width: 768px) {
    .logo-footer {
        display: block;
        margin: 0 auto;
    }

    .footer-content-left p {
        display: block;
        font-weight: 400;
        margin-left: 0;
        margin-top: 10px;
        text-align: center;
    }

    .footer-content-right {
        text-align: center;
        margin-top: 10px;
    }
}

@media screen and (max-width: 640px) {
    h1 {
        width: 90%;
    }

    .header-block {
        background-position: 40% top;
    }

    .conta-content p.subtitle {
        width: 100%;
    }

    .conta-txt {
        width: 80%;
    }
}

@media screen and (max-width: 480px) {
    header .container {
        width: 100%;
        padding: 0;
    }

    .header-block {
        background: url(../img/header-bg-mobile.jpg) no-repeat center top;
    }

    .header-logo {
        padding-left: 15px;
    }

    .header-mobile {
        padding-right: 15px;
    }

    h1 {
        font-size: 32px;
    }

    .percentage {
        font-size: 90px;
        margin: 0;
    }

    .percentage span {
        font-size: 63px!important;
    }

    .tax {
        display: inline-block;
        font-size: 24px;
        margin-left: 15px;
    }

    .txt-block ul li {
        font-size: 16px;
    }

    .header-content {
        overflow-x: hidden;
    }

    .juros h2 {
        font-size: 30px;
        margin-top: 0;
    }

    .juros .subtitle {
        font-size: 16px;
        margin: 10px auto 0;
    }

    .vantagens {
        padding: 30px 22px;
    }

    .vantagens h3 {
        font-size: 26px;
        margin-bottom: 20px;
    }

    .vantagens-txt-block {
        margin: 0;
    }

    .vantagens-block {
        margin-bottom: 20px;
    }

    .porque {
        padding-top: 80px;
        background-position: top left;
        height: auto;
        padding-bottom: 65px;
    }

    .porque-txt {
        width: 90%;
    }

    .owl-carousel .owl-dots {
        bottom: -40px;
    }

    .porque h3 {
        margin-bottom: 25px;
        font-size: 26px;
    }

    .faqs-content {
        padding: 10px 22px;
    }

    .question {
        font-size: 16px;
        padding: 18px 20px 18px 0;
    }

    .faqs {
        padding-top: 40px;
    }

    .faqs h3 {
        font-size: 26px;
    }

    .answer {
        font-size: 14px;
    }

    .header-block-right {
        width: 100%;
        max-width: 100%;
        top: 0;
        max-height: 100%;
        padding-bottom: 80px;
        height: auto;
        padding: 15px 20px 180px;
    }

    #obrigado .header-block-right h2 {
        font-size: 30px;
        margin-top: 10px;
    }

    .icon-obrigado {
        max-width: 80px;
    }

    .conta-content h2 {
        font-size: 30px;
    }

    .conta {
        padding: 25px 0;
    }

    #obrigado .subtitle {
        font-size: 18px;
    }

    .conta-content p.subtitle {
        margin: 20px auto;
    }

    .header-block {
        min-height: auto;
    }

    .header-block-left {
        min-height: auto;
    }

    #obrigado .disclaimer {
        width: 100%;
    }

    .header-note.desktop {
        padding-right: 20px;
        font-size: 13px;
    }
}

@media screen and (max-width: 375px) {
    .header-block-left {
        padding: 20px 15px;
    }

    .header-logo {
        max-width: 105px;
    }

    .header-mobile {
        padding-top: 0;
    }

    .juros .subtitle {
        width: 100%;
    }

    .vantagens-block {
        margin-bottom: 0;
    }

    .porque {
        padding-bottom: 35px;
    }

    .header-block-right h2 {
        font-size: 26px;
        margin-bottom: 5px;
    }

    .close-box {
        margin-bottom: 10px;
    }

    .conta-txt {
        width: 100%;
    }

    #obrigado .header-block-right {
        padding-bottom: 30px;
    }

    .conta-content h2 {
        margin-top: 10px;
    }

    .conta .btn-block {
        margin-top: 15px;
    }

    .conta-txt p {
        margin-top: 10px;
    }

    .question {
        font-size: 15px;
    }

    .juros .footer-note p {
        font-size: 14px;
    }

    .header-note.desktop {
        padding-top: 7px;
    }

}


#topboxcookies{
    min-height: 100px;
    padding-bottom: 10px;
	background: #ffffff;
	color: #1c4f90;
	border-bottom: solid 1px #1c4f90;
	z-index:20000;
	width: 100%;
	text-align: center;
	padding-top: 1rem;
    display:none;
    font-family: Roboto, system-ui, BlinkMacSystemFont, "Segoe UI", "Helvetica Neue", Arial, sans-serif;
}
#topboxcookies a { text-decoration: none;}